<div class='sessions_home'>
    <h1>Welcome to the Menuhin Competition 2021</h1><br>
    <p>For fans who want to keep track of the competition, we welcome you to upload performances from any of your favorite violinists and share us your thoughts.</p>
</div>


