// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sessions_home {
    background-image: url("Menuhin-Competition.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right;
   }


